<div class="game-card @(IsOpen ? "game-card-open" : "")" onclick="@OnClick">
    @ChildContent
</div>

@functions {
    [Parameter] public int Row { get; private set; }
    [Parameter] public int Column { get; private set; }
    [Parameter] protected RenderFragment ChildContent { get; set; }
    [Parameter] protected bool IsOpen { get; set; }

    [Parameter] protected Func<Card, Task> OnSelected { get; set; }

    Task OnClick()
    {
        Console.WriteLine("OnClick");
        return OnSelected((Card)(object)this);
    }
}