@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.card-text {
    font-family: WebDings;
    font-size: 48px;
    font-weight: bold;
}

.game-board {
    margin-top: 10px;
    margin-bottom: 10px;
}

.game-board-row {
    display: flex
}

.game-card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: white;
    background-color: lightblue;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
